<card-elevacao-padrao padding="4">
  <h2 class="mb-4 text-center">Pesquisar por:</h2>
  <form [formGroup]="filtrosForm" class="filtros-form">
    <div class="row">
      <div class="col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Título, conteúdo ou autor</mat-label>
          <input matInput formControlName="termo">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Tema</mat-label>
          <mat-select formControlName="temaId">
            <mat-option [value]="null">Todos os temas</mat-option>
            <mat-option *ngFor="let tema of temas" [value]="tema.id">
              {{ tema.descricao }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
</card-elevacao-padrao>
