.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
}

.mt-4 {
  margin-top: 24px;
}

:host {
  display: block;
}

mat-card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
  transition: 0.3s;
}

mat-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
} 