<div class="container p-4">
  <div class="mb-4">
    <h2>Publicar uma Postagem</h2>
  </div>
  <form [formGroup]="postForm">
    <div class="d-flex flex-column gap-3 mb-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Título</mat-label>
        <input matInput formControlName="titulo">
        <mat-error *ngIf="postForm.get('titulo')?.hasError('required')">
          Título é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Conteúdo</mat-label>
        <textarea matInput rows="3" formControlName="texto"></textarea>
        <mat-error *ngIf="postForm.get('texto')?.hasError('required')">
          Conteúdo é obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Tema</mat-label>
        <mat-select formControlName="temaId">
          <mat-option *ngFor="let tema of temas" [value]="tema.id">
            {{ tema.descricao }}
          </mat-option>
          <mat-option *ngIf="temas.length === 0" value="" disabled>
            Nenhum tema disponível
          </mat-option>
          <mat-option [value]="'novo'">
            <span class="novo-tema-option">+ Criar novo tema</span>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="postForm.get('temaId')?.hasError('required')">
          Tema é obrigatório
        </mat-error>
      </mat-form-field>
    </div>
    <div class="d-flex justify-content-end gap-3 mt-3">
      <app-default-button
        label="Cancelar"
        cssClass="btn-cancelar"
        type="button"
        (click)="cancelar()"
      ></app-default-button>

      <app-default-button
        label="Publicar"
        [disabled]="postForm.invalid"
        (click)="onSubmit()"
        type="button"
      ></app-default-button>
    </div>
  </form>
</div>
