<div class="container">

  <div class="row mb-4">
    <div class="col-md-6 mb-3 mb-md-0">
      <h2 class="text-center">Temas com mais posts</h2>
      <card-elevacao-padrao padding="5">
        <div echarts [options]="postsCountOption" class="chart"></div>
      </card-elevacao-padrao>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Posts por dia da semana</h2>
      <card-elevacao-padrao padding="5">
        <div echarts [options]="postsTimelineOption" class="chart"></div>
      </card-elevacao-padrao>
    </div>
  </div>

  <app-posts-recentes></app-posts-recentes>
</div>