<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div *ngIf="post" class="card shadow border-0">
        <div class="card-body p-4">
          <div class="d-flex align-items-center mb-4">
            <div class="position-relative me-3" style="width: 50px; height: 50px;">
              <img *ngIf="post.usuario?.foto" class="rounded-circle img-fluid w-100 h-100 object-fit-cover"
                  [src]="'data:image/jpeg;base64,' + post.usuario.foto" alt="Foto de perfil">
              <img *ngIf="!post.usuario?.foto" class="rounded-circle img-fluid w-100 h-100 object-fit-cover"
                  [src]="'assets/User-PNG-HD-Image.png'" alt="Foto de perfil padrão">
            </div>
            <div>
              <h5 class="mb-0 nome-usuario">{{ post.usuario?.nome }}</h5>
              <p class="text-muted small mb-0">
                {{ post.data | date:'dd/MM/yyyy' }} • <span class="tema-destaque">{{ post.tema?.descricao }}</span>
              </p>
            </div>
          </div>

          <h2 class="card-title mb-4">{{ post.titulo }}</h2>

          <div class="card-text mb-4">
            <p style="white-space: pre-line;">{{ post.texto }}</p>
          </div>

          <div class="mt-4">
            <app-default-button
              label="Voltar"
              iconClass="fas fa-arrow-left"
              (onclick)="voltarPaginaAnterior()">
            </app-default-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
